<!DOCTYPE html>
<html lang="en">
<head>

<%-include('./inc/head')%>

</head>
<body>

<%-include('./inc/navbar')%>

<div class="homepage-blog">

<p1>Ana Sayfa</p1>

<p> !</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, laboriosam. Harum accusantium delectus architecto quam tempore unde sapiente nesciunt eos, porro fugiat reiciendis tenetur odio.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, quos. Magni architecto unde repellat, neque, corporis eos nesciunt exercitationem eveniet error totam magnam iste? Blanditiis tenetur accusantium ea consectetur fuga!</p>   

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, dicta.</p>
</div>

</body>
</html>