<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>usalkpasa || Giriş Yap</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Ana Sayfa</a></li>
          <li class="sag">
            <a href="/signup"
              ><span class="glyphicon glyphicon-user"></span> Kayıt Ol</a
            >
          </li>
          <li class="sag">
            <a href="/login"
              ><span class="glyphicon glyphicon-log-in"></span> Giriş Yap</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="box">
        <div class="card">
          <!-- Daha yukarı taşındı -->
          <a class="singup">GİRİŞ YAP</a>

          <form action="" method="post">

            <div class="inputBox">
              <input name="username" type="text" required="required">
              <span>Kullanıcı Adı</span>
            </div>
  
            <div class="inputBox">
              <input type="password" name="password" required="required">
              <span>Parola</span>
            </div>
  
            <input class="enter" type="submit" value="GİRİŞ YAP">

          </form>

        </div>
      </div>
    </div>
  </body>
</html>
